

{% block title %}Main Page No Login{% endblock title %}

{% block body %}<h1>!House Budget!</h1>

{% if user.is_authenticated %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome {{ user.username }}!</h3>
        <a href="{% url 'logout' %}">Logout?</a>
    </div>
{% else %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome!</h3>
        <p><a href="{% url 'register' %}">Sign up</a></p>
        <p><a href="{% url 'login' %}">Login</a></p>
    </div>
{% endif %}


{% endblock body %}