<!--{% extends "base.html" %}-->

{% block title %}Main Page No login222222{% endblock title %}

{% block body %}<h1>!!!!!!!!!!!Witamy na stronie Budżetu Domowego!!!!!!!!!!!!!</h1>


    <form action="{%url 'main_page'%}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
     <input type="submit" value="Login">&ndash;&gt;-->
    </form>
<form action="{%url 'main_page'%}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
      <input type="submit" value="Register">-->
    </form>

{% endblock body %}