{% extends "base.html" %}

{% block title %}Main Page{% endblock title %}

{% block body %}<h1 class="attributiones">House Budget</h1>
<hr>
<form action="{%url 'login'%}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
<!--        <input type="submit" value="Login">-->
    {% if user.is_authenticated %}

        <h3 class="attributions">Welcome {{ user.username }}</h3>
        <p><a href="{% url 'add_income_cbv' %}">Add Income</a></p>
        <p><a href="{% url 'add_outcome_cbv' %}">Add Outcome</a>
         <p><a href="{% url 'income_list' %}">Income list</a></p>
        <p><a href="{% url 'outcome_list' %}">Outcome list</a></p>
        <p class="attributiones_l"><a href="{% url 'logout' %}">Logout</a></p>

    </div>
{% else %}

        <h3 class="attributions">Welcome</h3>
        <p><a href="{% url 'register' %}">Register</a></p>
        <p><a href="{% url 'login' %}">Login</a></p>
    </div>
{% endif %}
    </form>
<form action="{%url 'register'%}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
<!--        <input type="submit" value="Register">-->
    </form>


{% endblock body %}