{% extends "base.html" %}
{% block title %} Outcome  {% endblock title %}

{% block body %}
    <br>
    {% if outcome %}
        <div class="attributions">>
            <p> Outcome has been successfully created!</p>
            {{ outcome.outcome }} -- {{ outcome.amount_of_outcome }} zł </div>
        <br>
    {% endif %}



    <form class="attributions" action="{%url 'add_outcome_cbv'%}" method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <p class="attributiones_l"> <input type="submit" value="Add Outcome"></p>

    </form>
<p class="attribution_beck"><a href="{% url 'home' %}">Back</a></p>
{% endblock %}