{% extends "base.html" %}
{% block title %} Outcome  {% endblock title %}

{% block body %}
    <br>
    {% if outcome %}
        <div>
            <p><a> Outcome has been successfully created!</a></p>
            {{ outcome.outcome }} {{ outcome.amount_of_outcome }} </div>
        <br>
    {% endif %}


    <form action="{%url 'add_outcome_cbv'%}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add Outcome">
    </form>
<p><a href="{% url 'home' %}">Back</a></p>
{% endblock %}