{% extends "base.html" %}

{% block title %}Add Income  {% endblock title %}

{% block body %}
<br>
    {% if income %}
        <div class="attributions">
            <p > Income has been successfully created!</p>
            {{ income.income }} --- {{ income.amount_of_income }} zł</div>
    {% endif %}
 <br>
  <form class="attributions"  action="{%url 'add_income_cbv'%}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </p>
       <p class="attributiones_l"> <input type="submit" value="Add Income"> </p>
    </form>

   <p class="attribution_beck" ><a href="{% url 'home' %}">Back</a></p>

{% endblock %}

