{% extends "base.html" %}
{% block title %}Outcome update{% endblock title %}

{% block body %}
<br>
{% if messages %}
<ul>{% for message in messages %}
    <p class="attributions">{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}
 <br>
    <form class="attributions" action="{% url 'outcome_update' outcome.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p class="attributiones_l"><input type="submit" value="Update" ></p>
    </form>
    <br>
   
<p class="attribution_beck"><a href="{% url 'outcome_list' %}">Back</a></p>
{% endblock %}